<!DOCTYPE html>
<html>
  <head>
    <title>Hungry For What</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  </head>
  <body>
    TEST
    <%= "testing" %>
  <script type="text/javascript" src="javascript/app.js"></script>
  </body>
</html>